<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.codeforafrica.citizenreporterandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_creporter_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAG4udu-zr6UHXyZosiiik8D_jNE3QJ0eY"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="org.codeforafrica.citizenreporterandroid" />

        <activity
            android:name=".auth.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.codeforafrica.citizenreporterandroid.SettingsActivity" />
        </activity>
        <activity
            android:name=".SupportChannelActivity"
            android:label="@string/title_activity_support_channel"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.codeforafrica.citizenreporterandroid.SettingsActivity" />
        </activity>
        <activity
            android:name=".feedback.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.codeforafrica.citizenreporterandroid.SettingsActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c99a6a9a2e47604595017b4d8c8e7db46db93b9e" />

        <activity
            android:name=".storyboard.Storyboard"
            android:label="@string/title_activity_storyboard"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.codeforafrica.citizenreporterandroid.main.MainActivity" />

        </activity>

            <activity android:name=".main.assignments.AssignmentDetailActivity"
            android:label="AssignmentDetail">
            </activity>
    </application>

</manifest>